<!DOCTYPE html>

<html>

    <head> 
        <title>about</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>


        <body>
            <div class="main"> 
            {{>header}}
           <img class="portrait" src="/img/robot.png">
           </div>
           {{>footer}}


        </body>



</html>