<!DOCTYPE html>

<html>

    <head>
        <title>error </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>


        <body>
            <div class="main"> 
            {{>header}}
            <p> {{errormsg}}</p>
            </div>



            {{>footer}}

        </body>



</html>