<!DOCTYPE html>

<html>

    <head>
        <title> help </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>


        <body>
            <div class="main"> 
            {{>header}}
            </div>
            {{>footer}}

        </body>



</html>